
$dark: #444;
$bkgd: #e2e2e2;
$fore: #fafafa;

$page-margin: 1in;

%reset {
    margin: 0;
    padding: 0;
}

%font-head {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

%font-head-backlit {
    @extend %font-head;
    background: $dark;
    color: $fore;
}

%font-body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

html,
body {
    height: 100%;
}

body {
    @extend %font-body;

    background: $bkgd;
    color: $dark;
    margin: 0;
}

h1 {
    @extend %font-head;
    margin-top: 0.15in;
    padding-top: 0.85in;
}
h2 {
    @extend %font-head-backlit;
    padding: 0 0.125in;
}
h3, h4, h5, h6 { @extend %font-body; }

h1, h3, h4, h5, h6 {
    margin-left: $page-margin;
    margin-right: $page-margin;
}
h2 {
    margin-left: $page-margin - 0.125in;
    margin-right: $page-margin - 0.125in;
}

h2, h4, small { font-style: italic; }
small {
    float: right;
    line-height: 1.45;
}

aside {
    overflow: hidden;
}

main {
    clear: both;
}

ul {
    @extend %reset;
    list-style: none;
    margin-left: $page-margin;
}

footer {
    margin-bottom: 1.5in;
}

.container {
    background: $fore;
    margin: 0 auto;
    max-width: 8.5in;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.u-logo {
    float: right;
    margin-right: $page-margin;
}

.u-photo {
    float: left;
    margin-left: $page-margin;
}

.tag { display: inline-block; }
.tag:after { content: ' + '; }
.tag:last-child:after { content: ''; }
//.tag:last-child:before { content: ' and '; }

.touch .p-contact {
    .p-adr a:last-of-type {
        display: none;
        visibility: hidden;
    }
}

.no-touch {
    a[href^="tel"] {
        color: $dark;
        cursor: default;
        pointer-events: none;
        text-decoration: none;
    }
    .p-contact .p-adr {
        a:first-of-type {
            display: inline-block;
            visibility: visible;
        }
        a:last-of-type {
            display: none;
            visibility: hidden;
        }
    }
}






























