html,
body {
    height: 100%;
}

body {
    background: #e2e2e2;
    margin: 0;
}

.container {
    background: #fafafa;
    height: 100%;
    margin: 0 auto;
    max-height: 640px;
    max-width: 640px;
    width: 100%;
}

img {
    height: 100%;
    width: 100%;
}
