body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
p.No-Paragraph-Style {
	color:#231f20;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Basic-Paragraph {
	color:#231f20;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.para-style-override-1 {
	-epub-hyphens:none;
	color:#313131;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-2 {
	-epub-hyphens:none;
}
p.para-style-override-3 {
	-epub-hyphens:none;
	color:#313131;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
	text-align:right;
}
p.para-style-override-4 {
	-epub-hyphens:none;
	text-align:right;
}
p.para-style-override-5 {
	-epub-hyphens:none;
	color:#313131;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:100;
}
p.para-style-override-6 {
	-epub-hyphens:none;
	color:#313131;
	font-family:"Helvetica Neue", sans-serif;
	font-size:63px;
	font-style:normal;
	font-weight:100;
}
p.para-style-override-7 {
	-epub-hyphens:none;
	color:#313131;
	font-family:"Helvetica Neue", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-8 {
	-epub-hyphens:none;
	color:#999999;
	font-family:"Helvetica Neue", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-9 {
	-epub-hyphens:none;
	color:#313131;
	font-family:"Helvetica Neue", sans-serif;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-10 {
	-epub-hyphens:none;
	color:#999999;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-11 {
	-epub-hyphens:none;
	color:#999999;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:100;
}
p.para-style-override-12 {
	-epub-hyphens:none;
	color:#999999;
	font-family:"Helvetica Neue", sans-serif;
	font-size:63px;
	font-style:normal;
	font-weight:100;
}
p.para-style-override-13 {
	-epub-hyphens:none;
	color:#222222;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-14 {
	-epub-hyphens:none;
	color:#999999;
	font-family:"Helvetica Neue", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
	text-align:right;
}
p.para-style-override-15 {
	-epub-hyphens:none;
	color:#999999;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
	text-align:right;
}
p.para-style-override-16 {
	-epub-hyphens:none;
	color:#222222;
	font-family:"Helvetica Neue", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
	text-align:right;
}
p.para-style-override-17 {
	-epub-hyphens:none;
	color:#222222;
	font-family:"Zapf Dingbats", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
	text-align:right;
}
p.para-style-override-18 {
	-epub-hyphens:none;
	color:#999999;
	font-family:"Helvetica Neue", sans-serif;
	font-style:normal;
	font-weight:normal;
	text-align:right;
}
p.para-style-override-19 {
	-epub-hyphens:none;
	font-family:"Helvetica Neue", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
	text-align:right;
}
p.para-style-override-20 {
	-epub-hyphens:none;
	font-family:"Zapf Dingbats", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
	text-align:right;
}
p.para-style-override-21 {
	-epub-hyphens:none;
	font-family:"Helvetica Neue", sans-serif;
	font-style:normal;
	font-weight:normal;
	text-align:right;
}
span.char-style-override-1 {
	color:#313131;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-2 {
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-3 {
	color:#999999;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-4 {
	color:#313131;
	font-family:"Helvetica Neue", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-5 {
	font-family:"Helvetica Neue", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-6 {
	color:#222222;
	font-family:"Helvetica Neue", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-7 {
	color:#999999;
	font-family:"Helvetica Neue", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-8 {
	color:#313131;
	font-family:"Helvetica Neue", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-9 {
	font-family:"Helvetica Neue", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-10 {
	color:#222222;
	font-family:"Helvetica Neue", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-11 {
	color:#999999;
	font-family:"Zapf Dingbats", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-12 {
	color:#222222;
	font-family:"Zapf Dingbats", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-13 {
	color:#999999;
	font-family:"Helvetica Neue", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-14 {
	font-family:"Zapf Dingbats", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
